# Model architecture description
# Layer Number-of-kernels Filter-size Batch-norm-flag Max-pooling-flag Activation-function Dropout-rate
layer0 16 5 1 1 relu 0.25
layer1 16 5 1 1 relu 0.25
layer2 16 5 1 1 relu 0.5
layer3 16 5 1 1 relu 0.5
layer4 16 5 1 1 relu 0.3
layer5 16 5 1 1 relu 0.3
layer6 1 5 0 0 sigmoid 0.25
